<header>
  <span>Ramesh Blog</span> 
  <span class="login" *ngIf = "userIsAuthenticated">
    <a href="" (click) ="onLogout($event)">
      <i class="faicon licon"></i>Logout</a>
    </span>
    <span class="login" *ngIf = "!userIsAuthenticated">
      <a href="" (click) ="onLogingo($event)">
        <i class="faicon licon"></i>Login</a>
      </span>
  </header>
    <input type="checkbox" id="check" checked>
    <label for="check" style="position: fixed">
      <i class="faicon picon" id="btn"></i>
      <i class="faicon cicon" id="cancel"></i>
    </label>
	
    <div class="sidebar" id="sidebar">
      <!--<header>My Menu</header>-->
      <a href="#" class="active">
        <i class="rticon dashicon"></i>
        <span>Dashboard</span>
      </a>
      <a href="#">
        <i class="rticon linkicon"></i>
        <span>Shortcuts</span>
      </a>
      <a href="#">
        <i class="rticon overicon"></i>
        <span>Overview</span>
      </a>
      <a href="#">
         <i class="rticon eventicon"></i>
        <span>Events</span>
      </a>
      <a href="#">
        <i class="rticon abouticon"></i>
        <span>About</span>
      </a>
      <a href="#">
        <i class="rticon serviceicon"></i>
        <span>Services</span>
      </a>
      <a href="#">
        <i class="rticon envelopeicon"></i>
        <span>Contact</span>
      </a>
    </div>
	<div class="rowcell">
    <router-outlet></router-outlet>
  </div>
  