<nav aria-label="Pagination" >
    <hr class="my-4" />
     <!-- pager -->
     <ul *ngIf="postList.pager.pages && postList.pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:postList.pager.currentPage === 1}">
            <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:postList.pager.currentPage === 1}">
            <a (click)="setPage(postList.pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of postList.pager.pages" [ngClass]="{active:postList.pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:postList.pager.currentPage === postList.pager.totalPages}">
            <a (click)="setPage(postList.pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:postList.pager.currentPage === postList.pager.totalPages}">
            <a (click)="setPage(postList.pager.totalPages)">Last</a>
        </li>
    </ul>
</nav>